/* Global */
.section {
	max-width: $max-width;
	padding: 0 $h-padding;
}

/* Text */
@mixin font {
	font-family: var(--font-montserrat);
	font-style: normal;
	margin: 0;
}

h1 {
	@include font;
	font-size: $step-5;
	font-weight: 800;
	line-height: 130%; /* 55.9px */
}
h2 {
	@include font;
	font-size: $step-4;
	font-weight: 700;
	line-height: 130%; /* 44.2px */
}
h3 {
	@include font;
	font-size: $step-3;
	font-weight: 800;
	line-height: 130%; /* 35.1px */
	letter-spacing: 1.35px;
	text-transform: uppercase;
}
h4 {
	@include font;
	font-size: $step-2;
	font-weight: 400;
	line-height: 130%; /* 28.6px */
}
h5 {
	@include font;
	font-size: $step-1;
	font-weight: 700;
	line-height: 130%; /* 23.4px */
	letter-spacing: 1.44px;
	text-transform: uppercase;
}
h6 {
	@include font;
	font-size: $step--1;
	font-weight: 600;
	line-height: 130%; /* 14.3px */
}
body {
	font-size: $step-0;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
	color: $grey-1;
	margin: 0;
}
.bold {
	font-weight: 700;
	text-transform: none;
}
.caps {
	@include caps;
}
a {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: $grey-1;
	svg {
		margin-right: 8px;
	}
}
p {
	margin: 0;
}

/* Buttons */
@mixin button-color($main: $grey-1, $text: $white, $text-2: $grey-1) {
	border: 4px solid $main;
	background-color: $main;
	color: $text;
	&:hover {
		background-color: rgba(0, 0, 0, 0);
		color: $text-2;
	}
	&.outline {
		background-color: rgba(0, 0, 0, 0);
		color: $text-2;
		&:hover {
			background-color: $main;
			color: $text;
		}
	}
}
.button {
	display: inline-flex;
	padding: 20px 44px;
	border-radius: $border-radius;
	font-family: var(--font-montserrat);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 80%;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	text-decoration: none;
	&.orange {
		@include button-color($orange);
	}
	&.white {
		@include button-color($white, $grey-1);
	}
	&.grey {
		@include button-color($grey-2, $white, $grey-2);
	}
	&.yellow {
		@include button-color($yellow);
	}
	&.dark-grey {
		@include button-color($grey-1);
	}
	&.small {
		padding: 14px 22px;
		font-size: 14px;
		letter-spacing: 0.84px;
		border-width: 2px;
	}
}

/* Colors */
.t-orange {
	color: $orange;
}
